@page "/register2"

    <BSContainer Class="content">
        <BSRow>
            <BSCol><h2>BLI MEDLEM</h2></BSCol>
        </BSRow>
        <BSRow>
            <BSCol>
                På denna sida betalar du för ditt medlemskap. Har du sedan tidigare kopplat medlemmar till din profil kan du lägga till dessa innan du betalar.
            </BSCol>
        </BSRow>
        <BSRow>
            <BSCol>
                &nbsp;
            </BSCol>
        </BSRow>
        <BSRow>
            <BSCol XS="4">Rubrik: </BSCol>
            <BSCol XS="6">Fakta </BSCol>
        </BSRow>
        <BSRow>
            <BSCol XS="4">Rubrik: </BSCol>
            <BSCol XS="6">Fakta </BSCol>
        </BSRow>
        <BSRow>
            <BSCol XS="4">Rubrik: </BSCol>
            <BSCol XS="6">Fakta </BSCol>
        </BSRow>
        <BSRow>
            <BSCol XS="4">Rubrik: </BSCol>
            <BSCol XS="6">Fakta </BSCol>
        </BSRow>
        <BSRow>
            <BSCol XS="4">Rubrik: </BSCol>
            <BSCol XS="6">Fakta </BSCol>
        </BSRow>
        <BSRow>
            <BSCol>
                &nbsp;
            </BSCol>
        </BSRow>
        <BSRow>
            <BSCol>
                <h5>Kopplingar</h5>
                Du kan kopppla andra medlemmar till din profil för att på så sätt på ett enkelt sätt kunna kontrollera deras medlemskap samt vid behov teckna eller förlänga medlemskapet åt dem. Ett enkelt sätt att säkerställa att hela familjen är medlem!<br /><br />
                <BSTable IsStriped="true">
                    <thead>
                        <tr>
                            <th scope="col">Namn</th>
                            <th scope="col">Citynummer</th>
                            <th scope="col">Staus</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Emil Fahlgren Vestin</th>
                            <td>8264421</td>
                            <td><font color="#00285e"><i class="fas fa-user-shield"></i></font> Medlem</td>

                        </tr>
                        <tr>
                            <th scope="row">Axel Fahlgren Vestin</th>
                            <td>8264415</td>
                            <td><font color="#00285e"><i class="fas fa-user-shield"></i></font> Medlem</td>

                        </tr>
                        <tr>
                            <th scope="row">Annica Kjellin</th>
                            <td>8264194</td>
                            <td><font color="#d4a11e"><i class="fas fa-user-shield"></i></font> Lägg till</td>
                        </tr>
                    </tbody>
                </BSTable>
            </BSCol>
        </BSRow>
        <BSRow>
            <BSCol>
                &nbsp;
            </BSCol>
        </BSRow>
        <BSRow>
            <BSCol>
                <h5>BETALA</h5>
                Detta har du lagt till... uppradning av medlemmar och summering av priser<br /><br />
                <BSButton ButtonType="ButtonType.Link">Betala</BSButton>
            </BSCol>
        </BSRow>
    </BSContainer>
