@using System.Security.Principal;
@using Blazored.Menu


<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">citizensof.se</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<BlazoredMenu Css="@NavMenuCssClass">
    <BlazoredMenuItem>
        <NavLink class="nav-link" href="" Match="NavLinkMatch.All">Home</NavLink>
    </BlazoredMenuItem>
    <BlazoredSubMenu Header="Medlem">
        <MenuTemplate>
            <BlazoredMenuItem>
                <NavLink class="nav-link" href="counter">Logga in/skapa användare</NavLink>
            </BlazoredMenuItem>
            <BlazoredMenuItem>
                <NavLink class="nav-link" href="fetchdata">Fetch data</NavLink>
            </BlazoredMenuItem>
        </MenuTemplate>
    </BlazoredSubMenu>
    <BlazoredSubMenu Header="Biljetter">
        <MenuTemplate>
            <BlazoredMenuItem>
                <NavLink class="nav-link" href="counter">Ansök</NavLink>
            </BlazoredMenuItem>
            <BlazoredMenuItem>
                <NavLink class="nav-link" href="fetchdata">Så här funkar det</NavLink>
            </BlazoredMenuItem>
        </MenuTemplate>
    </BlazoredSubMenu>
</BlazoredMenu>

    <div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
        <ul class="nav flex-column">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <span class="oi oi-home" aria-hidden="true"></span> Home
                </NavLink>
            </li>
            <AuthorizeView>
                <NotAuthorized>

                </NotAuthorized>
            </AuthorizeView>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="counter">
                    <span class="oi oi-plus" aria-hidden="true"></span> Counter
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="counter">
                    <span class="oi oi-plus" aria-hidden="true"></span> Counter
                </NavLink>
            </li>
            <AuthorizeView>
                <Authorized>
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="fetchdata">
                            <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
                        </NavLink>
                    </li>
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="users">
                            <span class="oi oi-people" aria-hidden="true"></span> Users
                        </NavLink>
                    </li>
                </Authorized>
            </AuthorizeView>
        </ul>
    </div>

    @code {
        bool collapseNavMenu = true;

        string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

        void ToggleNavMenu()
        {
            collapseNavMenu = !collapseNavMenu;
        }
    }
